<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Tech Blog</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h1>TECH BLOG</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <!-- <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        {{#if logged_in}}
            <a class="nav-link active" aria-current="page" href="/">Homepage</a> 
            <a class="nav-link" href="/dashboard">Dashboard</a>
            <button class="no-button nav-link" id="logout">Logout</button>
          {{else}}
            <a class="nav-link active" aria-current="page" href="/">Homepage</a>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/signup">Sign up</a>

          {{/if}}
      </div>
    </div>
  </div>
</nav>
      
  <nav>   {{#if logged_in}}
          <a href="/dashboard">Dashboard</a> 
          |<a href="/">Homepage</a> 
          <button class="no-button" id="logout">logout</button>
          {{else}}
          <a href="/login">Login</a> or <a href="/signup">Sign up</a>
          <a href="/">Homepage</a>
          {{/if}}
    </nav>
  </div>
  {{{body}}}
    {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
