<!-- Loop over each object in the projects array -->
<h1>in the homepage route</h1>
{{#each blogposts as |blogpost| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{blogpost.description}}
    </p>
  </div>
  <div>created by {{blogpost.user.username}}</div>
</div>
{{/each}}

<a href="/blogpost/1">blogpost</a>