  <!--<div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>-->
  <div class="col-md-4">
        <h2>Sign Up</h2>
  <form class="form signup-form">
    <div class="form-outline mb-3">
    <input type="name" class="form-control" id="name-signup"/>
    <label class="form-label" for="form2Example1">Name</label>
  </div>
  <!-- Email input -->
  <div class="form-outline mb-3">
    <input type="email" class="form-control" id="email-signup"/>
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" class="form-control" id="password-signup"/>
    <label class="form-label" for="form2Example2">Password</label>
  </div>
  <p id="error"></p>
  <!-- 2 column grid layout for inline styling -->
  <div class="col d-flex justify-content-center">
    <p id="error" class="alert"></p>
  <!-- Submit button -->
  <button class="btn btn-primary btn-block mb-4" type="submit">Sign up</button>
 </div>
  <!-- Register buttons -->
</form>
</div>


<script src="./js/signup.js"></script>